@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
:root {
  --font-family: "Inter";
  --primary-color: #e6533c;
}

body {
  font-family: var(--font-family);
  width: 100%;
  margin: 0px 0px 0px 0px;
}

div {
  border: 0px;
}

h3 {
  font-family: var(--font-family);
  color: var(--primary-color);
  font-size: 2.1rem;
  font-weight: 800;
}

.italic-font {
  font-family: "Miama";
  font-style: italic;
  font-weight: 400px;
}

.display-flex {
  display: flex;
}

.upper {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
  --display: none;
}

ul {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0px;
  border-radius: 49px;
  box-sizing: border-box;
}
.navlink {
  text-decoration: none;
  border: none;
  padding: 0px;
}

.nav-item {
  list-style: none;
  padding: 5px 25px;
  font-size: 1.1rem;
  font-family: var(--font-family);
  justify-content: space-evenly;
  align-items: center;
  color: white;
  border-radius: 46px;
}

.nav-icon{
    display: none;
    width: 40px;
}

.nav-container {
  justify-content: space-between;
  align-items: center;
  ----display: none;
  max-width: 1140px;
  margin: 0 auto;
}

.nav-item:hover {
  background-color: #e6533c;
}

.intro-container {
  justify-content: center;
  width: 100%;
  border: 2px solid orange;
  border: none;
  max-width: 1140px;
  margin: 0 auto;
}

.intro-text {
  width: 50%;
  border: 2px solid #e6533c;
  border: none;
}

.img-container {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
}

.light-card-1 {
  border-radius: 12px;
  padding: 10px 10px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 150px;
  margin-top: -500px;
  margin-left: 1200px;

}



.light-card-2 {
  border-radius: 12px;
  padding: 10px 10px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  height: 75px;
  width: 200px;
  margin-top: -200px;
  margin-left: 900px;
}

.cards-1 {
  color: white;
  font-size: 2.8rem;
  font-weight: 900;
  margin: 0px;
  margin-left: 10px;
}

.cards-2 {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0px;
  margin-left: 10px;
}

.cards-3 {
  color: white;
  font-size: 1.8rem;
  font-weight: 900;
  margin: 0px;
  margin-left: 10px;
}

.cards-4 {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0px;
  margin-left: 10px;
}
.ball {
  padding: 20px;
  background: var(--primary-color);
  border-radius: 50%;
  height: 1px;
  width: 1px;
}



.intro-head {
  font-size: 4.9rem;
  color: white;
  font-weight: 900;
  margin-bottom: 0px;
  line-height: 120%;
}

.intro-head-inner {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

body {
  margin: 0 auto;
  --background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
  background: black;
  width: 100%;
}

.btn {
  padding: 16px 40px 16px 40px;
  border-radius: 39px;
  color: white;
  background: var(--primary-color);
    border: none;
  font-size: 1.1rem;
}

.button-div {
  margin-right: 20px;
}

#load-btn {
  background: none;
  border: 2px solid white
}

.habits-container {
  --background-color: white;
  width: 100%;
  ----display: none;
  max-width: 1140px;
  margin: 0 auto;
}

#habit-p1 {
  font-weight: 900;
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-bottom: 0px;
}

#habit-p2 {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding-bottom: 30px;
  margin-top: 0px;
}

#habit-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-habit {
  border-radius: 50%;
}

.img-p1 {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0px;
}

.img-p2 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 1rem;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 90px;
  padding: 0px 10px;
}

.run-mile {
  width: 100%;
  border-radius: 18px;
  ----display: none;
}

.run-container {
  max-width: 1140px;
  margin: 0 auto;
  background: rgb(34, 34, 34);
  border-radius: 18px;
}

.run-content {
  width: 50%;
  padding: 50px;
}

.run-img {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  padding: 30px;
}

#img-id-run {
  width: 366px;
  height: 312px;
  border-radius: 18px;
}

#run-p1 {
  font-weight: 900;
  font-size: 3rem;
  color: white;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 0px;
}

#run-p2 {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
  padding-bottom: 30px;
  margin-top: 0px;
}

#btn-run {
  padding: 16px 90px;
}

.bmi-container {
  --display: none;
}

.bmi-header {
  font-size: 3rem;
  font-weight: 900;
  color: white;
  margin-bottom: 0px;
}

.bmi-p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 50px;
}



.bmi-inner-text {
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  font-weight: 900;
  text-align: center;
}
.bmi-table-container {
  background: rgb(34, 34, 34);
}

.bmi-tables {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.bmi-chart {
  width: 45%;
}

.bmi-text {
  max-width: 1140px;
  margin: 0 auto;
  margin-right: 40px;
}

.chart-content {
  --width: 100%;
  display: flex;
  justify-content: center;
}

.chart-content > table {
  border-collapse: collapse;
}

.chart-content th {
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 1rem;
  font-weight: 500;
  color: white;
  padding: 10px 30px;
  text-align: left;
}

.chart-content td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 0.9rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px 30px;
  text-align: left;
}


.Weight {
  grid-area: Weight;
}

.Height {
  grid-area: Height;
}

.Age {
  grid-area: Age;
}

.gender {
  grid-area: gender;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
}

.activity {
  grid-area: activity;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
}

#calc-btn {
  padding: 16px 60px;
  margin-bottom: 30px;
}
#bmi-txt {
  margin-bottom: 0px;
  text-align: left;
}

.form-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "Height   Weight"
    "Age      gender"
    "activity activity";
  gap: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.form-content > input {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  padding: 10px 20px;
  background: rgb(34, 34, 34);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
}

.options {
  background: rgba(255, 255, 255, 0.1);
  background-color: rgba(60, 60, 60);
}

.team-meet {
  --display: none;
  max-width: 1140px;
  margin: 0 auto;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  gap: 20px;
  --display: none;
  margin-bottom: 60px;
  max-width: 1140px;
  margin: 0 auto;
}

.person-name {
  color: white;
  font-size: 1.2rem;
  font-weight: 900;
  margin-top: -60px;
  margin-left: 35px;
  margin-bottom: 0px;
}

.status {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  margin-left: 35px;
  margin-top: 0px;
  font-weight: 400;
}

.meet-img {
  width: 100%;
  border-radius: 18px;
  width: 326.67px;
  height: 272px;
  margin-left: 15px;
}


.pricing-container{
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(34, 34, 34);
    margin-top: 70px;

}

.pricing-text{
    width: 90%;
    
}

.card-list{
    list-style: disc;
    border: none;


}

.pricing-card-container{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
}
.cards{
    border: 3px solid var(--primary-color);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 48px;
    padding: 40PX;
    margin: 20px;

}

#price-head{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 0px;
}

#price-p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    font-weight: 400rem;
    text-align: center;
}

.type{
    background: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    border-radius: 49px;
    margin-bottom: 0px;
    width: 70%;
    align-items: center;
    margin: 0 auto;
    padding: 5px;

}

.time-amt{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    border-radius: 49px;
    margin-top: 5px;

}

.money{
    color: #e6533c;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    border-radius: 49px;


}

.plan-items{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    margin-top: 7px;
}

.price-btn-div{
    display: flex;
    align-items: center;
    justify-content: center;

}

.price-btn{
    padding: 10px 15px;
    border-radius: 39px;
    font-weight: 700;
    color: white;
    background: var(--primary-color);
    font-size: 1.1rem;
    border: none;
}


.branding {
  display: flex;
  width: 50%;
  align-items: left;
  flex-direction: column;
}

.getstarted {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

#ul-foot {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 400px;
  color: rgba(255, 255, 255, 0.5);
  border: none;
}
.footer-tag {
  background: rgba(255, 255, 255, 0.1);
  margin-top: 100px;
  --display: none;
}

.footer-container {
  display: flex;
  width: 100%;
  --display: none;
  padding-bottom: 40px;
  max-width: 1140px;
  margin: 0 auto;
}

.list-items {
  margin-bottom: 10px;
}

.getstarted > div > p {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

#branding-p2 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0px;
  padding-left: 20px;
}

#branding-p {
  font-size: 4.4rem;
  font-weight: 800px;
  color: var(--primary-color);
  padding-left: 20px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.line-div {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.copy-right {
  width: 100%;
}
.copy-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
  padding: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 576px) {
  .nav-container {
    --display: none;
    width: 90%;
  }
  .intro-container {
    display: flex;
    width: 90%;
    flex-direction: column;
    --display: none;
  }
  .intro-head {
    font-size: 3rem;
    width: 80%;
  }
  .nav-links{
    display: none;
  }

.nav-icon{
    display: flex;
}

.button-container{
    justify-content: space-evenly;
    width: 100%;
}


  .intro-text {
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 0px;
  }

  .intro-head{
    line-height: 120%;

  }
  .img-container {
    width: 100%;
    justify-content: center;
    border: 0px;
  }
  #img-banner {
    border: none;
    justify-content: center;
    align-items: center;
  }

  .habit-img {
    flex-direction: column;
  }
  .img-habit {
    border: 0px;
  }

  .run-mile {
    width: 100%;
  }
  .run-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid pink;
    width: 90%;
    --display: none;
  }
  .habits-container {
    border: none;
    --display: none;
  }


  .run-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0px;
    padding: 0px;
  }
  .run-img {
    justify-content: center;
    width: 100%;
    border: 0px;
    padding: 0px;
    ----display: none;
  }

  #btn-run {
    justify-content: center;
    width: 75%;
    margin: 0 auto;
  }

  #run-p1 {
    border: 0px;
    padding: 20px 50px;
    margin-bottom: 0px;
  }
  #run-p2 {
    border: 0px;
    padding: 10px 50px;

  }

  #img-id-run {
    margin: 20px;
  }

  .team-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ----display: none;
    width: 90%;
    margin: 0 auto;
    row-gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  

  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .branding {
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }
  .getstarted {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .team-container {
    --display: none;
  }

  .bmi-container {
    display: flex;
    flex-direction: column;
  }
  .bmi-text{
    width: 90%;

  }
  .bmi-chart{
    width: 100%;

    
  }
  .chart-content{
    width: 100%;
    justify-content: left;

  }
  .bmi-inner-text{
    text-align: left;
  }
  .bmi-tables{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.light-card-2{
    margin-left: 50px;
    margin-top: -200px;
}
.light-card-1{
    margin-left: 330px;
    margin-top: -58 
    0px;
}

.img-container{
    align-items: center;
}

.pricing-card-container{
    grid-template-columns: repeat(1, 1fr);
}

}
